doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://cdn.socket.io/stable/socket.io.js')
    link(rel='stylesheet', href='/javascripts/main.js')
  body
    block content