html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  background: #3d4043;
  overflow: hidden;
}
body,
input,
textarea,
button {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #fff;
}
img {
  border: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
::selection {
  background-color: #29b1ff;
}
.field {
  background: #515458;
  border: 1px solid rgba(255,255,255,0.3);
  font-size: 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  padding-bottom: 30px;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
/* CHAT */
.chat nav {
  text-align: left;
  margin: 0 5%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 2px 0;
}
.chat nav a {
  color: #bbb;
  margin: 0 5px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
.chat nav a.icon-mention {
  font-size: 19px;
}
.chat nav a.icon-mention.new {
  color: #29afff;
}
.chat nav a:hover {
  text-decoration: none;
  color: #fff;
}
.chat .chatbox {
  padding: 20px 5% 0;
}
.chat .chatbox .chatform {
  position: relative;
}
.chat .chatbox .chatform.sending:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(61,64,67,0.6) url("/images/website/form-sending.gif") center center no-repeat;
  z-index: 9;
}
.chat .chatbox .chatform .publish {
  background: #29b1ff url("/images/website/submit-esquina.png") top left no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 20px;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 30px;
  border-bottom-right-radius: 3px;
}
.chat .chatbox .chatform .publish span {
  margin-right: 5px;
}
.chat.alternate #messages {
  display: none;
}
.chat.alternate #mentions {
  display: block;
}
.chat.alternate #mentions .borrar {
  display: none !important;
}
.chat #mentions {
  display: none;
}
.chat #mentions:empty:before {
  color: #bbb;
  text-align: center;
  display: block;
  font-size: 14px;
  font-style: italic;
  content: "Aún no tienes menciones";
}
.chat .messages {
  position: absolute;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 103px;
  bottom: 24px;
  position: absolute;
  right: 0;
  left: 0;
}
.chat .messages .message {
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  text-shadow: 0.5px 0.5px rgba(0,0,0,0.4);
  border-left: 7px solid transparent;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.chat .messages .message.sameuser {
  background: #2e3032;
  border-left: 7px solid #29afff;
}
.chat .messages .message.destacado .avatar:after {
  content: " ";
  background: url("/images/website/staff.png");
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  bottom: 1px;
  right: 1px;
}
.chat .messages .message.destacado .avatar img {
  border-color: #fff;
}
.chat .messages .message .mention {
  background: #29b1ff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 5px;
  padding: 2px;
}
.chat .messages .message .content {
  font-size: 13px;
  line-height: 15px;
  margin: 0 5px;
  margin-left: 51px;
}
.chat .messages .message .avatar {
  float: left;
  position: relative;
  margin: 0 10px;
}
.chat .messages .message .avatar img {
  display: block;
  border: 1px solid rgba(255,255,255,0.2);
}
.chat .messages .message .user {
  font-weight: bold;
}
.chat .messages .message .time {
  position: absolute;
  right: 25px;
  top: 0;
  color: #bbb;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.chat .messages .message .time small {
  font-size: 12px;
}
.chat .messages .message .borrar {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: #bbb;
}
.chat .messages .message .borrar:hover {
  text-decoration: none;
  color: #fff;
}
.chat .messages .message .borrar.ready {
  background-color: #f00;
  color: #fff;
}
.chat .messages .message .icon-undo {
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 32px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-transition: opacity 0.2 ease-out;
  -moz-transition: opacity 0.2 ease-out;
  -o-transition: opacity 0.2 ease-out;
  -ms-transition: opacity 0.2 ease-out;
  transition: opacity 0.2 ease-out;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.chat .messages .message .icon-undo:hover {
  text-decoration: none;
}
.chat .messages .message .icon-undo:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.chat .messages .message:hover .time {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
/* LOGIN */
.dialog {
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
  display: none;
}
.dialog.show {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
.dialog .overlay {
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}
.dialog .panel {
  background: #3d4043;
  padding: 20px 15px;
  -webkit-box-shadow: 3px 3px 0 #272b2e;
  box-shadow: 3px 3px 0 #272b2e;
  position: relative;
}
#login p {
  margin-bottom: 15px;
}
#login .panel {
  text-transform: uppercase;
  font-size: 18px;
}
#login a {
  display: inline-block;
  font-size: 15px;
  padding: 15px 8px;
  padding-right: 55px;
  border: 1px solid #5672b4;
  cursor: pointer;
  -webkit-transition: border-color 0.5s ease-out;
  -moz-transition: border-color 0.5s ease-out;
  -o-transition: border-color 0.5s ease-out;
  -ms-transition: border-color 0.5s ease-out;
  transition: border-color 0.5s ease-out;
  background: #3b5998;
  background-position: 140px center;
  background-repeat: no-repeat;
}
#login a:hover {
  text-decoration: none;
}
#login a.facebook {
  margin-right: 10px;
  background-image: url("/images/website/fb.png");
}
#login a.facebook:hover {
  border-color: #8da5ec;
}
#login a.twitter {
  background-color: #00aee8;
  border-color: #49c9ff;
  background-image: url("/images/website/tt.png");
}
#login a.twitter:hover {
  border-color: #9dffff;
}
#encuesta .panel {
  background-image: url("/images/website/encuesta-top.png");
  background-image-position: left top;
  background-repeat: repeat-x;
  padding-top: 30px;
  font-size: 14px;
}
#encuesta .panel form {
  position: relative;
}
#encuesta .panel form.sending:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(61,64,67,0.6) url("/images/website/form-sending.gif") center center no-repeat;
  z-index: 9;
}
#encuesta .panel .question {
  overflow: hidden;
  margin-bottom: 10px;
}
#encuesta .panel .question p {
  float: left;
}
#encuesta .panel .question p:last-child {
  float: right;
  margin-left: 30px;
}
#encuesta .panel .question p span {
  margin: 0 7px;
}
#encuesta .panel .public {
  font-size: 11px;
  color: #b0b1b2;
}
#encuesta .panel .comment textarea {
  font-size: 14px;
}
#encuesta .panel .enviar {
  text-align: right;
  margin-top: 10px;
}
#encuesta .panel .enviar button {
  background: #333537;
  border: 0;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  position: relative;
  right: 10px;
}
#encuesta .panel .enviar button:after {
  content: " ";
  position: absolute;
  right: -10px;
  border-left: 10px solid #333537;
  border-bottom: 15px solid transparent;
  border-top: 14px solid transparent;
  display: block;
  top: 0;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  -o-transition: border-color 0.2s ease-out;
  -ms-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}
#encuesta .panel .enviar button:hover {
  background-color: #1e2123;
}
#encuesta .panel .enviar button:hover:after {
  border-left-color: #1e2123;
}
/* FOOTER */
footer {
  text-align: right;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  padding: 2px 0;
  bottom: 0;
  left: 0;
  right: 0;
}
footer a {
  color: #bbb;
  margin: 0 5px;
}
footer a.icon-mention {
  font-size: 19px;
}
footer a:hover {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width:458px) {
  #login .panel {
    padding: 15px 10px;
    font-size: 15px;
  }
  #login .panel p {
    margin-bottom: 10px;
  }
  #login .panel a {
    font-size: 12px;
    padding: 12px 5px;
    background-position: 113px center;
    padding-right: 50px;
  }
  #login .panel a.facebok {
    margin-right: 7px;
  }
}
.emoticon {
  display: inline-block;
  width: 21px;
  height: 19px;
  top: 4px;
  position: relative;
  background: url("/images/website/emoticons.png") left top no-repeat;
}
.emoticon[title=":)"] {
  background-position: left top;
}
.emoticon[title=":8"] {
  background-position: -23px top;
}
.emoticon[title=":D"] {
  background-position: -46px top;
}
.emoticon[title=":("] {
  background-position: -87px top;
}
.emoticon[title=":O"] {
  background-position: -243px top;
}
.emoticon[title=":P"] {
  background-position: -286px top;
}
.emoticon[title=":cool:"] {
  background-position: -329px top;
}
.emoticon[title=":'("] {
  background-position: -438px top;
}
.emoticon[title=":|"] {
  background-position: -458px top;
}
/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  -ms-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
  }
}
@-moz-keyframes bounceOutUp {
  0% {
    -moz-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -moz-transform: translateY(-2000px);
  }
}
@-o-keyframes bounceOutUp {
  0% {
    -o-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
  }
}
.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  -ms-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}
@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot");
  src: url("../../fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("../../fonts/icomoon.svg#icomoon") format('svg'), url("../../fonts/icomoon.woff") format('woff'), url("../../fonts/icomoon.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-volume-high:before,
.icon-volume-mute:before,
.icon-blocked:before,
.icon-undo:before,
.icon-bubble:before,
.icon-exit:before,
.icon-stats:before,
.icon-github:before,
.icon-mention:before,
.icon-bell:before,
.icon-no-bell:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-volume-high:before {
  content: "\21";
}
.icon-volume-mute:before {
  content: "\22";
}
.icon-blocked:before {
  content: "\23";
}
.icon-undo:before {
  content: "\24";
}
.icon-bubble:before {
  content: "\25";
}
.icon-exit:before {
  content: "\27";
}
.icon-stats:before {
  content: "\29";
}
.icon-bell:before {
  content: "\28";
}
.icon-no-bell:before {
  content: "\26";
}
.icon-github:before {
  content: "\2b";
}
.icon-mention:before {
  content: "@";
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-o-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-ms-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
